body,
h1,
div {
        margin: 0%;
        padding: 0%;
        /*font-family: Microsoft YaHei;*/
    }
    body {
        margin: 0%;
        padding: 0%;
        position: relative;
        background: url(../images/bg.png);
    }